body {
  font-family: "Inter-Medium", "Helvetica", "san-serif";
}

/* Common Rules  */
.bg_blue {
  background-color: #2668fa;
}
.bg_darkblue {
  background-color: #021c4e;
}
.bg_linear {
  background: linear-gradient(#143d9b, #0c4cbb);
}
.bg_lightgrey {
  background-color: #f3f5f9;
}
.bg_green {
  background-color: #60cf76;
}
.blue {
  color: #2484fa;
}

.btn {
  border-radius: 5px;
  padding: 8px 10px;
}
.btn_empty {
  border: 1px solid #2668fa;
  color: #2668fa;
  text-decoration: none;
}
.flex_container {
  display: flex;
}

.text_right {
  text-align: right;
}

.unstyle li {
  list-style: none;
  display: inline-block;
}
.unstyle a:not(.btn_empty) {
  text-decoration: none;
  color: black;
}

/**********
Header 
***********/

/* navbar */
nav .row {
  padding: 10px 0;
}

nav .logo img {
  width: 165px;
}

nav .flex_container {
  align-items: center;
}

nav ul li {
  padding: 5px;
}

nav > .container > .row > .flex_container:first-child {
  justify-content: flex-start;
}
nav > .container > .row > .flex_container:last-child {
  justify-content: flex-end;
}

nav .hamburgher {
  display: none;
}

/* Jumbotron  */
.jumbotron {
  background-image: url("../img/bg-banner-home.jpg");
  background-size: cover;
}
.jumbotron.flex_container {
  align-items: center;
}

.jumbotron .row {
  margin: 60px 0;
}

.jumbo_text {
  color: white;
}
.jumbo_text h1 {
  font-size: 3.5rem;
  padding-right: 50px;
}
.jumbo_text h3 {
  font-size: 1.24rem;
  line-height: 2rem;
}

.jumbotron form.flex_container {
  flex-direction: column;
  background-color: white;
  padding: 30px 10px;
  text-align: center;
  border-radius: 5px;
  margin-left: 90px;
}
.jumbotron form h2 {
  font-size: 1.75rem;
  line-height: 2.75rem;
}
.jumbotron form [type*="email"],
.jumbotron form [type*="password"] {
  line-height: 2.5rem;
  font-size: 1rem;
  padding-left: 5px;
  border: 1px solid #f3f5f9;
  border-radius: 4px;
  margin-top: 10px;
}
.jumbotron form [type*="submit"] {
  height: 1.75rem;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
}
.jumbotron #create {
  background-color: #5899fa;
  color: white;
}
.jumbotron #signup {
  background-color: white;
  color: #626262;
  box-shadow: 1px 1px 2px -1px #62626285;
  width: 100%;
}
.jumbotron #btn_signup {
  position: relative;
}
.jumbotron #btn_signup img {
  position: absolute;
  top: 30%;
  left: 5px;
  height: 20px;
}

.jumbotron form span {
  font-size: 12px;
  margin-top: 10px;
}

/**************
Main
***************/

#banner.flex_container {
  flex-direction: column;
  align-items: center;
}
#banner h3 {
  margin: 2rem 0;
  text-transform: uppercase;
  color: #626262;
}
#banner .apps img {
  height: 100px;
}
#banner a {
  text-decoration: none;
  color: #2668fa;
  margin-top: 30px;
}

.apps .row.flex_container {
  justify-content: center;
  flex-wrap: wrap;
}

/* Responsive */

/* media query small devices */
@media screen and (max-width: 767px) {
  /******
    header
    *******/
  .container {
    width: 90vw;
  }
  nav ul.unstyle {
    display: none;
  }
  nav .logo img {
    width: 200px;
  }
  nav .hamburgher {
    display: inline-block;
    color: #2484fa;
    line-height: 37px;
  }

  .jumbotron form.flex_container {
    margin-left: 0;
    margin-top: 20px;
  }
  /**********
  Main
  **********/
}

/* media query medium devices */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /******
    header
    *******/
  .container {
    width: 90vw;
  }
  nav ul.unstyle {
    display: none;
  }
  nav .logo img {
    width: 200px;
  }
  nav .hamburgher {
    display: inline-block;
    color: #2484fa;
    line-height: 37px;
  }

  /**********
  Main
  **********/

  #banner .apps img {
    height: 70px;
  }
  .apps .row.flex_container {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
